In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("outputs/complete_df.xlsx",
                  parse_dates=[1, 85])

In [3]:
df

,Nombre del encuestador,Fecha de la entrevista,Nombre de la persona entrevistada,Télefono de la persona entrevistada,Provincia donde vive,Distrito donde vive,Distrito donde vive.1,Distrito donde vive.2,"Tipo de ubicacion: Manzana (Mz), Lote, Urbanizacion (urb) y/o Etapa.",Tipo de vía,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,_tags,_index,new_id
0,SCH,2023-02-17,Ivana Guadalupe Elias Jimenez,978298638,Chincha,NaN,NaN,Pueblo Nuevo,"AAHH. NUEVO CHINCHA MZ ""J"" LOTE 1","Otro, especificar",...,217397101,5d2480b1-665d-45fc-b6a2-54ce34358178,2023-02-05 17:18:49,NaN,NaN,submitted_via_web,NaN,NaN,2,SCH217397101
1,SCH,2023-02-06,MARIA EUGENIA MAGALLANEZ PEÑA,903033657,Chincha,NaN,NaN,Chincha Alta,UPIS SAN AGUSTIN G-32,"Otro, especificar",...,217655144,7ebddf33-3d00-418c-b0cd-db05f2f96a45,2023-02-07 01:52:37,NaN,NaN,submitted_via_web,NaN,NaN,95,SCH217655144
2,SCH,2023-02-06,Breidy Sarahy Reyes Navarro,936626478,Chincha,NaN,NaN,Pueblo Nuevo,GROCIO PRADO,AV (Avenida),...,217657036,eb84f423-5ba3-4cac-83c0-e5e0502af2b7,2023-02-07 02:22:38,NaN,NaN,submitted_via_web,NaN,NaN,96,SCH217657036
3,JF,2023-02-08,Evelyn Darihana Peña Becerra,91600524,Ica,Parcona,NaN,NaN,Av. Avomayo #254,AV (Avenida),...,218048673,31c183be-e748-4d59-9399-02418d4fead0,2023-02-08 19:27:14,NaN,NaN,submitted_via_web,NaN,NaN,298,JF218048673
4,PV,2023-02-16,Maribel Coromoto Azuaje Caldera,937691826,Pisco,NaN,Pisco,NaN,NaN,CA (Calle),...,218277315,74ca7ef4-6519-46e5-a0b4-1fa839a81b5a,2023-02-09 21:03:16,NaN,NaN,submitted_via_web,NaN,NaN,503,PV218277315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,GRECIA,2023-02-09,YEXICA BEATRIZ FLORES DE GONZALES,975452088,Pisco,NaN,Pisco,NaN,URB. RENACER LOTE 53,No cuenta con información,...,218280905,188cc242-7fe6-4337-9e5f-2769d205265c,2023-02-09 21:37:35,NaN,NaN,submitted_via_web,NaN,NaN,560,GRECIA218280905
1810,GRECIA,2023-02-09,ALEXANDRA CAROLINA RIVERO DE SERRANO,935194915,Pisco,NaN,NaN,NaN,URB. RENACER,CA (Calle),...,218281996,ed6b6b41-3494-4cc9-96a1-5d1184778a88,2023-02-09 21:50:06,NaN,NaN,submitted_via_web,NaN,NaN,562,GRECIA218281996
1811,GRECIA,2023-02-09,MARIANGEL LARA MARCANO,900811750,Pisco,NaN,Pisco,NaN,NaN,CA (Calle),...,218283491,820a896c-7fef-46ce-a2b0-f832b726f572,2023-02-09 22:05:42,NaN,NaN,submitted_via_web,NaN,NaN,570,GRECIA218283491
1812,GRECIA,2023-02-09,MARIOVIN CAROLINA CASTILLO ORTEGA,901077759,Pisco,NaN,San Andrés,NaN,NaN,CA (Calle),...,218284162,d25e99d2-6b46-464a-af29-34459646ee60,2023-02-09 22:14:03,NaN,NaN,submitted_via_web,NaN,NaN,576,GRECIA218284162
1813,GRECIA,2023-02-09,DANGELA YASMIN RODRIGUEZ ANDRADE,947422816,Pisco,NaN,San Andrés,NaN,MZ 11 LOTE 1,CA (Calle),...,218287351,b8b41525-d5cb-456c-bbf5-cca53bb3678c,2023-02-09 22:47:53,NaN,NaN,submitted_via_web,NaN,NaN,587,GRECIA218287351

In [8]:
miembros_familia = pd.read_excel("inputs/Encuesta_para_inmigrantes_venezolanos_en_Ica_-_all_versions_-_labels_-_2023-02-18-20-40-30.xlsx",
             sheet_name=1)

In [42]:
miembros_familia.head()

,Indique el sexo del miembro de familia,edad,_index,_parent_table_name,_parent_index,_submission__id,_submission__uuid,_submission__submission_time,_submission__validation_status,_submission__notes,_submission__status,_submission__submitted_by,_submission___version__,_submission__tags,grupo_edad
0,Masculino,5.0,1,Encuesta para inmigrantes venezolanos en Ica,1,217092122,0939cf5b-c1c3-413f-a104-bf3328143a0a,2023-02-03T15:13:16,NaN,NaN,submitted_via_web,NaN,vEQNiYQVDSviJP8TBRXMvu,NaN,menores
1,Masculino,9.0,2,Encuesta para inmigrantes venezolanos en Ica,1,217092122,0939cf5b-c1c3-413f-a104-bf3328143a0a,2023-02-03T15:13:16,NaN,NaN,submitted_via_web,NaN,vEQNiYQVDSviJP8TBRXMvu,NaN,menores
2,Masculino,22.0,3,Encuesta para inmigrantes venezolanos en Ica,1,217092122,0939cf5b-c1c3-413f-a104-bf3328143a0a,2023-02-03T15:13:16,NaN,NaN,submitted_via_web,NaN,vEQNiYQVDSviJP8TBRXMvu,NaN,adultos
3,Masculino,44.0,4,Encuesta para inmigrantes venezolanos en Ica,1,217092122,0939cf5b-c1c3-413f-a104-bf3328143a0a,2023-02-03T15:13:16,NaN,NaN,submitted_via_web,NaN,vEQNiYQVDSviJP8TBRXMvu,NaN,adultos
4,Masculino,2.0,5,Encuesta para inmigrantes venezolanos en Ica,2,217397101,5d2480b1-665d-45fc-b6a2-54ce34358178,2023-02-05T17:18:49,NaN,NaN,submitted_via_web,NaN,vEQNiYQVDSviJP8TBRXMvu,NaN,menores

In [43]:
miembros_familia_sexo = (miembros_familia
    .rename(columns={'Indique el sexo del miembro de familia': 'sexo'})
    .groupby(by=['_parent_index', 'sexo'], as_index=False)
    .size()
    .pivot(index='_parent_index', columns='sexo', values="size")
    .fillna(0))

In [44]:
miembros_familia_sexo.columns = [f"n_miembros_{values.lower()}" 
                                 for values in miembros_familia_sexo.columns]

In [45]:
miembros_familia_sexo

               n_miembros_femenino  n_miembros_masculino
_parent_index
1                              0.0                   4.0
2                              0.0                   1.0
3                              2.0                   1.0
4                              2.0                   1.0
5                              1.0                   0.0
...                            ...                   ...
1801                           0.0                   1.0
1802                           0.0                   3.0
1803                           0.0                   3.0
1805                           3.0                   0.0
1806                           1.0                   1.0

[1753 rows x 2 columns]

In [46]:
miembros_familia = miembros_familia.rename(
    columns={'Indique la edad del miembro de familia': 'edad'})
miembros_familia['grupo_edad'] = pd.cut(
    x=miembros_familia['edad'], bins=[0,17,64,100],
    labels=['menores', 'adultos', 'mayores'])

In [47]:
miembros_familia_edad = (miembros_familia
    .groupby(by=['_parent_index', 'grupo_edad'], as_index=False)
    .size()
    .pivot(index='_parent_index', columns='grupo_edad', values="size")
    .fillna(0))
miembros_familia_edad.columns = [f"n_miembros_{values}" for values in miembros_familia_edad.columns]

In [48]:
miembros_familia_edad

               n_miembros_menores  n_miembros_adultos  n_miembros_mayores
_parent_index
1                               2                   2                   0
2                               1                   0                   0
3                               2                   1                   0
4                               3                   0                   0
5                               1                   0                   0
...                           ...                 ...                 ...
1801                            0                   1                   0
1802                            2                   1                   0
1803                            2                   1                   0
1805                            2                   0                   0
1806                            1                   1                   0

[1753 rows x 3 columns]

In [50]:
miembros_cols = pd.concat((miembros_familia_edad, miembros_familia_sexo), axis=1)
miembros_cols = miembros_cols.reset_index()
miembros_cols['_parent_index'] = miembros_cols['_parent_index'].astype(int)

In [52]:
# Sanity check
miembros_cols.isna().sum()

_parent_index           0
n_miembros_menores      0
n_miembros_adultos      0
n_miembros_mayores      0
n_miembros_femenino     0
n_miembros_masculino    0
dtype: int64

In [53]:
df = (df
    .merge(
        right=miembros_cols, how='left', 
        left_on='_index', right_on='_parent_index')
    .drop(labels="_parent_index", axis=1))
df.loc[:, miembros_cols.columns[1:]] = df[miembros_cols.columns[1:]].fillna(0.0)

In [54]:
df

,Nombre del encuestador,Fecha de la entrevista,Nombre de la persona entrevistada,Télefono de la persona entrevistada,Provincia donde vive,Distrito donde vive,Distrito donde vive.1,Distrito donde vive.2,"Tipo de ubicacion: Manzana (Mz), Lote, Urbanizacion (urb) y/o Etapa.",Tipo de vía,...,_status,_submitted_by,_tags,_index,new_id,n_miembros_menores,n_miembros_adultos,n_miembros_mayores,n_miembros_femenino,n_miembros_masculino
0,SCH,2023-02-17,Ivana Guadalupe Elias Jimenez,978298638,Chincha,NaN,NaN,Pueblo Nuevo,"AAHH. NUEVO CHINCHA MZ ""J"" LOTE 1","Otro, especificar",...,submitted_via_web,NaN,NaN,2,SCH217397101,1.0,0.0,0.0,0.0,1.0
1,SCH,2023-02-06,MARIA EUGENIA MAGALLANEZ PEÑA,903033657,Chincha,NaN,NaN,Chincha Alta,UPIS SAN AGUSTIN G-32,"Otro, especificar",...,submitted_via_web,NaN,NaN,95,SCH217655144,2.0,2.0,0.0,3.0,2.0
2,SCH,2023-02-06,Breidy Sarahy Reyes Navarro,936626478,Chincha,NaN,NaN,Pueblo Nuevo,GROCIO PRADO,AV (Avenida),...,submitted_via_web,NaN,NaN,96,SCH217657036,2.0,2.0,0.0,1.0,3.0
3,JF,2023-02-08,Evelyn Darihana Peña Becerra,91600524,Ica,Parcona,NaN,NaN,Av. Avomayo #254,AV (Avenida),...,submitted_via_web,NaN,NaN,298,JF218048673,0.0,2.0,0.0,1.0,1.0
4,PV,2023-02-16,Maribel Coromoto Azuaje Caldera,937691826,Pisco,NaN,Pisco,NaN,NaN,CA (Calle),...,submitted_via_web,NaN,NaN,503,PV218277315,2.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,GRECIA,2023-02-09,YEXICA BEATRIZ FLORES DE GONZALES,975452088,Pisco,NaN,Pisco,NaN,URB. RENACER LOTE 53,No cuenta con información,...,submitted_via_web,NaN,NaN,560,GRECIA218280905,2.0,1.0,0.0,1.0,2.0
1810,GRECIA,2023-02-09,ALEXANDRA CAROLINA RIVERO DE SERRANO,935194915,Pisco,NaN,NaN,NaN,URB. RENACER,CA (Calle),...,submitted_via_web,NaN,NaN,562,GRECIA218281996,2.0,0.0,0.0,2.0,0.0
1811,GRECIA,2023-02-09,MARIANGEL LARA MARCANO,900811750,Pisco,NaN,Pisco,NaN,NaN,CA (Calle),...,submitted_via_web,NaN,NaN,570,GRECIA218283491,2.0,1.0,0.0,1.0,2.0
1812,GRECIA,2023-02-09,MARIOVIN CAROLINA CASTILLO ORTEGA,901077759,Pisco,NaN,San Andrés,NaN,NaN,CA (Calle),...,submitted_via_web,NaN,NaN,576,GRECIA218284162,2.0,1.0,0.0,2.0,1.0
1813,GRECIA,2023-02-09,DANGELA YASMIN RODRIGUEZ ANDRADE,947422816,Pisco,NaN,San Andrés,NaN,MZ 11 LOTE 1,CA (Calle),...,submitted_via_web,NaN,NaN,587,GRECIA218287351,1.0,1.0,0.0,1.0,1.0

In [466]:
alimentos = pd.read_excel("inputs/Encuesta_para_inmigrantes_venezolanos_en_Ica_-_all_versions_-_labels_-_2023-02-18-20-40-30.xlsx",
             sheet_name=2)

In [467]:
alimentos.shape

(4923, 15)

In [468]:
alimentos.head()

,Seleccionar alimento,Especifica otro alimento,¿Cuántas veces a la semana consume cada alimento de orígen animal mencionado en la pregunta anterior?,_index,_parent_table_name,_parent_index,_submission__id,_submission__uuid,_submission__submission_time,_submission__validation_status,_submission__notes,_submission__status,_submission__submitted_by,_submission___version__,_submission__tags
0,Pollo,NaN,2.0,1,Encuesta para inmigrantes venezolanos en Ica,1,217092122,0939cf5b-c1c3-413f-a104-bf3328143a0a,2023-02-03T15:13:16,NaN,NaN,submitted_via_web,NaN,vEQNiYQVDSviJP8TBRXMvu,NaN
1,Huevos,NaN,3.0,2,Encuesta para inmigrantes venezolanos en Ica,1,217092122,0939cf5b-c1c3-413f-a104-bf3328143a0a,2023-02-03T15:13:16,NaN,NaN,submitted_via_web,NaN,vEQNiYQVDSviJP8TBRXMvu,NaN
2,Pollo,NaN,1.0,3,Encuesta para inmigrantes venezolanos en Ica,2,217397101,5d2480b1-665d-45fc-b6a2-54ce34358178,2023-02-05T17:18:49,NaN,NaN,submitted_via_web,NaN,vEQNiYQVDSviJP8TBRXMvu,NaN
3,Huevos,NaN,2.0,4,Encuesta para inmigrantes venezolanos en Ica,2,217397101,5d2480b1-665d-45fc-b6a2-54ce34358178,2023-02-05T17:18:49,NaN,NaN,submitted_via_web,NaN,vEQNiYQVDSviJP8TBRXMvu,NaN
4,Derivados lacteos,NaN,2.0,5,Encuesta para inmigrantes venezolanos en Ica,2,217397101,5d2480b1-665d-45fc-b6a2-54ce34358178,2023-02-05T17:18:49,NaN,NaN,submitted_via_web,NaN,vEQNiYQVDSviJP8TBRXMvu,NaN

In [469]:
alimentos["Seleccionar alimento"].unique()

array(['Pollo', 'Huevos', 'Derivados lacteos', 'Pescado', 'Cerdo',
       'Leche', 'Res', 'Otro, especificar', nan], dtype=object)

In [470]:
alimentos["Seleccionar alimento"].isna().sum()

28

In [471]:
alimentos = alimentos.dropna(subset=['Seleccionar alimento', 'Especifica otro alimento'], how='all')

In [472]:
alimentos[alimentos["Seleccionar alimento"].isna()]

Empty DataFrame
Columns: [Seleccionar alimento, Especifica otro alimento, ¿Cuántas veces a la semana consume cada alimento de orígen animal mencionado en la pregunta anterior?, _index, _parent_table_name, _parent_index, _submission__id, _submission__uuid, _submission__submission_time, _submission__validation_status, _submission__notes, _submission__status, _submission__submitted_by, _submission___version__, _submission__tags]
Index: []

In [473]:
alimentos[alimentos["Seleccionar alimento"] == 'Otro, especificar']['Especifica otro alimento'].sort_values().unique().tolist()

['ATUN',
 'Arroz y menestra',
 'Arroz, pasta, granos y arina',
 'Atún',
 'Atún más que la semana y menestras',
 'Atún y Sandina',
 'ENLATADOS',
 'GRANOS',
 'Grano',
 'Granos',
 'Granos y menestras',
 'Granos, menestras',
 'Harinas, menestras, pastras',
 'Hojado 4 veces a la semana',
 'Hotdog',
 'MENESTRAS',
 'Menestras',
 'Menestras come cuando los vecinos le dan',
 'Menestras, fideos y arroz',
 'Menestras: Lentejas, Alverjas, caraotas, etc.',
 'Menestras: lentejas, alberjas, caraota, etc.',
 'Menestras: lentejas, alverjas, caraotas, etc.',
 'Menestras: lentejas, alverjas, pallares, etc.',
 'Menudencias solo hacen sopita',
 'Pasta',
 'Pastas',
 'QUESO',
 'Queso',
 'Sangresita',
 'Verduras',
 'granos',
 'queso',
 nan]

In [474]:
to_replace = {
    ## Opciones iniciales
    'Derivados lacteos': ['QUESO', 'Queso', 'queso'],

    'Pescado': ['ATUN', 'Atún', 'Atún más que la semana y menestras',
                'Atún y Sandina', 'ENLATADOS'],

    'Otros': ['Hojado 4 veces a la semana', 'Hotdog', 'Menudencias solo hacen sopita', 'Sangresita'],
    
    # No origen animal
    np.nan: ['Verduras', 'GRANOS', 'Grano', 'Granos', 'granos', 
             'MENESTRAS', 'Menestras', 'Menestras come cuando los vecinos le dan', 
             'Menestras: Lentejas, Alverjas, caraotas, etc.', 
             'Menestras: lentejas, alberjas, caraota, etc.', 
             'Menestras: lentejas, alverjas, caraotas, etc.', 
             'Menestras: lentejas, alverjas, pallares, etc.',
             'Pasta', 'Pastas', 'Arroz y menestra', 'Arroz, pasta, granos y arina', 
             'Granos y menestras', 'Granos, menestras', 'Harinas, menestras, pastras', 
             'Menestras, fideos y arroz']
}

In [475]:
to_replace_dict = {e: k for k, el in to_replace.items() for e in el}

In [476]:
alimentos['Especifica otro alimento'] = alimentos['Especifica otro alimento'].replace(to_replace_dict)

In [477]:
alimentos[alimentos["Seleccionar alimento"] == 'Otro, especificar']['Especifica otro alimento'].sort_values().unique().tolist()

['Derivados lacteos', 'Otros', 'Pescado', nan]

In [478]:
alimentos.loc[(alimentos["Seleccionar alimento"] == 'Otro, especificar') & 
              (alimentos["Especifica otro alimento"].isna()), "Seleccionar alimento"] = np.nan

In [479]:
alimentos[alimentos["Seleccionar alimento"] == 'Otro, especificar']['Especifica otro alimento'].sort_values().unique().tolist()

['Derivados lacteos', 'Otros', 'Pescado']

In [480]:
alimentos.loc[(alimentos["Seleccionar alimento"] == 'Otro, especificar') & 
              (alimentos["Especifica otro alimento"].isna()), "Especifica otro alimento"]

Series([], Name: Especifica otro alimento, dtype: object)

In [481]:
alimentos["Seleccionar alimento"] = alimentos["Seleccionar alimento"].replace({'Otro, especificar': np.nan})
alimentos["Seleccionar alimento"] = alimentos["Seleccionar alimento"].fillna(alimentos["Especifica otro alimento"])

In [482]:
alimentos["Seleccionar alimento"].unique()

array(['Pollo', 'Huevos', 'Derivados lacteos', 'Pescado', 'Cerdo',
       'Leche', 'Res', nan, 'Otros'], dtype=object)

In [483]:
alimentos[alimentos["Seleccionar alimento"].isna()]['Especifica otro alimento'].isna().all()

True

In [484]:
alimentos = alimentos.dropna(subset=['Seleccionar alimento', 'Especifica otro alimento'], how='all')

In [485]:
alimentos["Seleccionar alimento"].unique()

array(['Pollo', 'Huevos', 'Derivados lacteos', 'Pescado', 'Cerdo',
       'Leche', 'Res', 'Otros'], dtype=object)

In [492]:
alimentos_df = alimentos[["Seleccionar alimento", 
           "¿Cuántas veces a la semana consume cada alimento de orígen animal mencionado en la pregunta anterior?",
           "_parent_index"]]

In [493]:
tipo_alimentos = (alimentos_df
    .rename(columns={'Seleccionar alimento': 'tipo_alimento'})
    .groupby(by=['_parent_index', 'tipo_alimento'], as_index=False)
    .size()
    .pivot(index='_parent_index', columns='tipo_alimento', values="size")
    .fillna(0))

In [494]:
new_cols_order = tipo_alimentos.columns.drop("Otros").tolist()
new_cols_order.append("Otros")
tipo_alimentos = tipo_alimentos[new_cols_order]

In [495]:
tipo_alimentos.columns = [f"consume_alimento_orig_animal_{values.lower()}" 
                                 for values in tipo_alimentos.columns]

In [496]:
alimentos_df["¿Cuántas veces a la semana consume cada alimento de orígen animal mencionado en la pregunta anterior?"].describe()

count    4692.000000
mean        2.991262
std         5.170234
min         0.000000
25%         2.000000
50%         3.000000
75%         4.000000
max       332.000000
Name: ¿Cuántas veces a la semana consume cada alimento de orígen animal mencionado en la pregunta anterior?, dtype: float64

In [497]:
freq_consumo_alimentos = (alimentos_df
    .rename(columns={'Seleccionar alimento': 'alimento',
                     '¿Cuántas veces a la semana consume cada alimento de orígen animal mencionado en la pregunta anterior?': 'freq_consumo'})
    .groupby(by=['_parent_index', 'alimento'], as_index=False)['freq_consumo']
    .mean()
    .pivot(index='_parent_index', columns='alimento', values="freq_consumo")
    .fillna(0))

In [498]:
freq_consumo_alimentos = freq_consumo_alimentos[new_cols_order]

In [499]:
freq_consumo_alimentos.columns = [f"freq_consumo_{values.lower()}" 
                                 for values in tipo_alimentos.columns]

In [500]:
freq_consumo_alimentos.shape

(1791, 8)

In [501]:
tipo_alimentos.shape

(1791, 8)

In [502]:
alimentos_cols = pd.concat((tipo_alimentos, freq_consumo_alimentos), axis=1)
alimentos_cols = alimentos_cols.reset_index()
alimentos_cols['_parent_index'] = alimentos_cols['_parent_index'].astype(int)

In [503]:
# Sanity check
alimentos_cols.isna().sum()

_parent_index                                                  0
consume_alimento_orig_animal_cerdo                             0
consume_alimento_orig_animal_derivados lacteos                 0
consume_alimento_orig_animal_huevos                            0
consume_alimento_orig_animal_leche                             0
consume_alimento_orig_animal_pescado                           0
consume_alimento_orig_animal_pollo                             0
consume_alimento_orig_animal_res                               0
consume_alimento_orig_animal_otros                             0
freq_consumo_consume_alimento_orig_animal_cerdo                0
freq_consumo_consume_alimento_orig_animal_derivados lacteos    0
freq_consumo_consume_alimento_orig_animal_huevos               0
freq_consumo_consume_alimento_orig_animal_leche                0
freq_consumo_consume_alimento_orig_animal_pescado              0
freq_consumo_consume_alimento_orig_animal_pollo                0
freq_consumo_consume_alimento_orig_animal_res                  0
freq_consumo_consume_alimento_orig_animal_otros                0
dtype: int64

In [511]:
col_order = ['_parent_index', 'consume_alimento_orig_animal_cerdo',
'freq_consumo_consume_alimento_orig_animal_cerdo',
'consume_alimento_orig_animal_derivados lacteos',
'freq_consumo_consume_alimento_orig_animal_derivados lacteos',
'consume_alimento_orig_animal_huevos',
'freq_consumo_consume_alimento_orig_animal_huevos',
'consume_alimento_orig_animal_leche',
'freq_consumo_consume_alimento_orig_animal_leche',
'consume_alimento_orig_animal_pescado',
'freq_consumo_consume_alimento_orig_animal_pescado',
'consume_alimento_orig_animal_pollo',
'freq_consumo_consume_alimento_orig_animal_pollo',
'consume_alimento_orig_animal_res',
'freq_consumo_consume_alimento_orig_animal_res',
'consume_alimento_orig_animal_otros',
'freq_consumo_consume_alimento_orig_animal_otros']

In [512]:
alimentos_cols = alimentos_cols[col_order]

In [513]:
df = (df
    .merge(
        right=alimentos_cols, how='left', 
        left_on='_index', right_on='_parent_index')
    .drop(labels="_parent_index", axis=1))
df.loc[:, alimentos_cols.columns[1:]] = df[alimentos_cols.columns[1:]].fillna(0.0)

In [518]:
df.columns[df.columns.str.startswith('_')]

Index(['__version__', '_id', '_uuid', '_submission_time', '_validation_status',
       '_notes', '_status', '_submitted_by', '_tags', '_index'],
      dtype='object')

In [520]:
df = df.drop(['__version__', '_uuid', '_submission_time',
              '_validation_status', '_notes', '_status',
              '_submitted_by', '_tags', '_index', 'new_id'],
            axis=1)

In [521]:
df.to_excel('encuesta_agregada.xlsx', index=False)

In [382]:
## Codigo que considera opciones que no son de origen animal

# to_replace = {
#     ## Opciones iniciales
#     'Derivados lacteos': ['QUESO', 'Queso', 'queso'],

#     'Pescado': ['ATUN', 'Atún', 'Atún más que la semana y menestras',
#                 'Atún y Sandina', 'ENLATADOS'],
    
#     ## Nuevas opciones
#     'Granos': ['GRANOS', 'Grano', 'Granos', 'granos'],

#     'Menestras': ['MENESTRAS', 'Menestras', 'Menestras come cuando los vecinos le dan', 
#                   'Menestras: Lentejas, Alverjas, caraotas, etc.', 
#                   'Menestras: lentejas, alberjas, caraota, etc.', 
#                   'Menestras: lentejas, alverjas, caraotas, etc.', 
#                   'Menestras: lentejas, alverjas, pallares, etc.'],

#     'Pastas': ['Pasta', 'Pastas'],

#     'Otros': ['Hojado 4 veces a la semana', 'Hotdog', 'Menudencias solo hacen sopita', 'Sangresita'],
    
#     ## No valido
#     np.nan: ['Verduras']
# }


# to_replace_dict = {e: k for k, el in to_replace.items() for e in el}

# alimentos['Especifica otro alimento'] = alimentos['Especifica otro alimento'].replace(to_replace_dict)

# alimentos[alimentos["Seleccionar alimento"] == 'Otro, especificar']['Especifica otro alimento'].sort_values().unique().tolist()

# special_vals = ['Arroz y menestra',
# 'Arroz, pasta, granos y arina',
# 'Menestras, fideos y arroz',
# 'Granos y menestras', 
# 'Granos, menestras',
# 'Harinas, menestras, pastras']

# otro_alimento = (alimentos[
#         alimentos['Especifica otro alimento'].isin(special_vals)
#     ]['Especifica otro alimento']
#     .str.lower()
#     .str.replace('y', ',')
#     .str.replace(" ", "")
#     .str.split(',', expand=True)
#     .replace({'menestra': 'menestras', 
#               'pastras': 'pastas', 
#               'pasta': 'pastas',
#               'fideos': 'pastas',
#               'arina': 'harinas'})
#     .reset_index()
#     .melt('index')
#     .drop('variable', axis=1)
#     .dropna()
# )

# otro_alimento['value'] = otro_alimento['value'].str.title()

# otro_alimento = (otro_alimento
#     .rename(columns={'value': 'Especifica otro alimento'})
#     .set_index('index')
#     .merge(alimentos[['¿Cuántas veces a la semana consume cada alimento de orígen animal mencionado en la pregunta anterior?',
#                       '_parent_index']], left_index=True, right_index=True, how='left')
# )

# alimentos.shape

# len(otro_alimento.index.unique())

# # Drop special "other" values 
# alimentos[~alimentos.index.isin(otro_alimento.index.unique())]

# alimentos = alimentos[~alimentos.index.isin(otro_alimento.index.unique())]

# completo_alimentos = pd.concat((alimentos, otro_alimento), ignore_index=True)

# completo_alimentos[completo_alimentos["Seleccionar alimento"] == 'Otro, especificar']['Especifica otro alimento'].unique().tolist()

# completo_alimentos[completo_alimentos["Seleccionar alimento"] == 'Otro, especificar']['Especifica otro alimento'].isna().sum()

# otro_alimento.index.unique()

# completo_alimentos[(completo_alimentos["Seleccionar alimento"] == 'Otro, especificar') & (completo_alimentos["Especifica otro alimento"].isna())]

# completo_alimentos[(completo_alimentos["Seleccionar alimento"] == 'Otro, especificar') & (completo_alimentos["Especifica otro alimento"].isna())] = 'Otros'

# completo_alimentos["Seleccionar alimento"] = completo_alimentos["Seleccionar alimento"].replace({'Otro, especificar': np.nan})

# completo_alimentos["Seleccionar alimento"] = completo_alimentos["Seleccionar alimento"].fillna(completo_alimentos["Especifica otro alimento"])

# tipo_alimentos = (completo_alimentos
#     .rename(columns={'Seleccionar alimento': 'alimento'})
#     .groupby(by=['_parent_index', 'alimento'], as_index=False)
#     .size()
#     .pivot(index='_parent_index', columns='alimento', values="size")
#     .fillna(0))

# tipo_alimentos.columns

# tipo_alimentos.columns = ['Arroz', 'Cerdo', 'Derivados lacteos', 'Granos', 'Harinas', 'Huevos', 
#                           'Leche', 'Menestras', 'Pastas', 'Pescado', 'Pollo', 'Res', 'Otros']

# tipo_alimentos.columns = [f"consume_alimento_orig_animal_{values.lower()}" 
#                                  for values in tipo_alimentos.columns]

# tipo_alimentos